<html>
    <head>
        <title>title</title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='js/leaflet-easybutton/src/easy-button.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='js/leaflet-dialog/Leaflet.Dialog.css') }}">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-easybutton/src/easy-button.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-dialog/Leaflet.Dialog.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sheet-js/dist/xlsx.core.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sheet-js/ods.js') }}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
