<html>
    <head>
        <title>title</title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <!-- Leaflet + extensions -->
        <link rel="stylesheet" href="{{ url_for('static', filename='js/leaflet/leaflet.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/leaflet-easybutton/src/easy-button.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='js/leaflet-dialog/Leaflet.Dialog.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/leaflet.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-easybutton/src/easy-button.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-dialog/Leaflet.Dialog.js') }}"></script>
        <!-- jQuery -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
        <!-- SheetJS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/sheet-js/dist/xlsx.core.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sheet-js/ods.js') }}"></script>
        <!-- Alertify -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/alertify/alertify.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='js/alertify/css/alertify.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/alertify/css/themes/default.min.css') }}" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
