{% extends "base.html" %}
{% block content %}
<style>
    html, body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }
    #map{
        position: relative;
        height: 100%;
        min-height: 180px;
        width: 100%;
    }
</style>
<div id="map"></div>
<script>
    // Załadowanie mapy z podkładem OSM
    var map = L.map('map');
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    {attribution: '&copy; <a href="http://osm.org/copyright" title="OpenStreetMap" target="_blank">OpenStreetMap</a>'})
    .addTo(map);
    // Modal z instrukcją
    var options = {'anchor':[50,950], 'size':[300,400]}
    var content = "<h3>Mapa kodów pocztowych dla Poznania</h3>\
    <p>Kliknij przycisk żeby załadować testowy plik<p>\
    <button onclick='loadData()'>Załaduj dane clients.json</button>\
    <p>Kliknij przycisk żeby załadować swój plik<p>\
    <p><input type=\"file\" name=\"excel\" id=\"input\" /></p>\
    <p>Kliknij przycisk żeby zresetować mapę<p>\
    <button onclick='loadGeoJSON()'>Zresetuj mapę</button>"
    var dialog = L.control.dialog(options).setContent(content).addTo(map);
    // Ustalenie kursora
    $('.leaflet-container').css('cursor','crosshair');
    // Style warstwy
    function getColor(d){
			return d > 1000 ? '#800026' :
			       d > 500  ? '#BD0026' :
			       d > 200  ? '#E31A1C' :
			       d > 100  ? '#FC4E2A' :
			       d > 50   ? '#FD8D3C' :
			       d > 20   ? '#FEB24C' :
			       d > 0   ? '#FED976' :
			                  '#FFFFFF';
		}
		function style(feature){
			return {
				weight: 1,
				opacity: 0.5,
				color: 'black',
				fillOpacity: 0.5,
				fillColor: getColor(feature.properties.val)
			};
		}
    // Pobranie AJAXem warstwy kodów pocztowych
    var geojsonlayer = null;
    function loadGeoJSON(){
      if(geojsonlayer){map.removeLayer(geojsonlayer)}
      $.ajax({
        type:"GET",
        url:'../static/data/kody_pocztowe.geojson',
        dataType:'json',
        success: function(response){
          geojsonlayer = L.geoJson(response, {style:style}).addTo(map);
          map.fitBounds(geojsonlayer.getBounds());
        }
      });
    }
    loadGeoJSON()
    // Pobranie AJAXem danych o klientach
    function loadData(){
      $.ajax({
        type:"GET",
        url:'../static/data/clients.json',
        dataType:'json',
        success: function(response){
          var clients = [];
          for (i in response.dane){
            clients.push(response.dane[i])
          }
          updateMap(clients)
        }
      })
    };
    // Funkcja ładowania danych na mapę
    function updateMap(clients){
      map.removeLayer(geojsonlayer)
      geojsonlayer.eachLayer(function (layer) {
        for (i in clients){
          if(layer.feature.properties.kod == clients[i].kod){
            layer.feature.properties.val = clients[i].val
            var popupContent = "<p>Kod pocztowy: "+layer.feature.properties.kod+"<br>Liczba klientów: "+layer.feature.properties.val+"</p";
            if(layer.feature.properties && layer.feature.properties.popupContent){
              popupContent += layer.feature.properties.popupContent;
            }
            layer.bindPopup(popupContent);
          }
        }
      });
      geojsonlayer.setStyle(style)
      geojsonlayer.addTo(map)
    }
    // Obsługa XLSX/ODS
    var input = document.getElementById('input');
    function handleFile(e) {
      var files = e.target.files;
      var i,f;
      for (i = 0, f = files[i]; i != files.length; ++i) {
        var reader = new FileReader();
        var name = f.name;
        reader.onload = function(e) {
          var data = e.target.result;
          var workbook = XLSX.read(data, {type: 'binary'});
          var sheet_name_list = workbook.SheetNames;
          var result = [];
          var obj = {'dane':[]};
          sheet_name_list.forEach(function(y) {
            var worksheet = workbook.Sheets[y];
            var temp = '';
            for (z in worksheet) {
              if (temp){
                obj.dane.push({'kod':temp, 'val':worksheet[z].v})
                temp = ''
              }else{
                temp = worksheet[z].v
              }
            }
          });
          var clients = [];
          for (i in obj.dane){
            clients.push(obj.dane[i])
          }
          updateMap(clients)
        };
        reader.readAsBinaryString(f);
      }
    }
    input.addEventListener('change', handleFile, false);

</script>
{% endblock %}
